<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadAble</title>
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
</head>
<body class="index-body">

    <div class="navbar">
        <div class="container">
            <ul>
                <li>
                    <a href="#">
                        <i class="icon ph-bold ph-house-simple"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('camera_page') }}">
                        <i class="icon ph-bold ph-camera"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('books') }}">
                        <i class="icon ph-bold ph-books"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hero">
        <div class="details-container">
            <h1>Read<a href="">Able</a></h1>
            <h3 id = "typer" class="typing"></h3>
            <a class="demo-btn">View Demo</a>
        </div>

        <div class="stars"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div>

    <script>
        const text = ['Bringing books to life at your fingertips.']
        let count = 0;
        let index = 0;
        let currentText = '';
        let letter = '';

        (function type() {
            if(count === text.length){
                count = 0;
            }

            currentText = text[count];
            letter = currentText.slice(0, ++index);

            document.querySelector('.typing').textContent = letter;
            if(letter.length === currentText.length){ 
                stop
            }
            setTimeout(type, 150);
        }())
    </script>
    
</body>
</html>